## F-Scoreで評価する

各効用関数ごと，有用性を評価し比べるためにF値という指標を用いる．\
ここでは，
1. True-Negative : 出力「間に合わない」→本当に間に合わない
2. False-Negative: 出力「間に合わない」→本当は間に合う
3. True-Positive : 出力「間に合う」→本当に間に合う
4. False-Positive: 出力「間に合う」→本当は間に合わない

本研究では，間に合わないはずのところに間に合うと出力されたために，悲しい思いをすることを防いでおきたいため，FPが小さくなっていて欲しい．\
したがって，適合率(Precision)を大きくしたい．\
この際，βという実整数係数を用いて，適合率を再現率より重視して出力したい．\
βの値は，よく0.5を用いられるようであるが，{0.1, 0.2, 0.3, 0.4, 0.5, 1.0}で出力させてみる．

### 前提条件

In [1]:
# モジュールの導入
import numpy as np
from scipy.special import lambertw as LW
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
import statistics
import pandas as pd

In [2]:
# 重みづけの変数β
beta = [0.1, 0.2, 0.3, 0.4, 0.5, 1.0]

In [48]:
# F値を保存するためのテキストファイルの宣言
path_w_1 = 'f_score_1_.txt'
"""
path_w_2 = 'f_score_2.txt'
path_w_3 = 'f_score_3.txt'
path_w_4 = 'f_score_4.txt'
path_w_5 = 'f_score_5.txt'
path_w_6 = 'f_score_6.txt'
path_w_7 = 'f_score_7.txt'
path_w_8 = 'f_score_8.txt'
path_w_9 = 'f_score_9.txt'
"""
path_w_10 = 'f_score_10_.txt'

### 効用関数1：1

In [53]:
run ./utility_1_1_makef.ipynb

done

In [54]:
pd.DataFrame(data=list_utility_1, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(3535, 6465)","(3493, 6507)","(3416, 6584)","(3319, 6681)","(3199, 6801)","(3066, 6934)","(2934, 7066)","(2756, 7244)","(2608, 7392)"
eps_z= 0.2,"(5084, 4916)","(4911, 5089)","(4638, 5362)","(4307, 5693)","(3906, 6094)","(3459, 6541)","(3020, 6980)","(2649, 7351)","(2301, 7699)"
eps_z= 0.6931471805599453,"(9235, 765)","(8803, 1197)","(7985, 2015)","(6613, 3387)","(4741, 5259)","(2852, 7148)","(1587, 8413)","(848, 9152)","(462, 9538)"
eps_z= 1.3862943611198906,"(9957, 43)","(9868, 132)","(9457, 543)","(8143, 1857)","(4881, 5119)","(1635, 8365)","(473, 9527)","(132, 9868)","(34, 9966)"
eps_z= 3.0,"(10000, 0)","(10000, 0)","(9972, 28)","(9606, 394)","(4951, 5049)","(375, 9625)","(20, 9980)","(2, 9998)","(0, 10000)"
eps_z= 10,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(4995, 5005)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(5006, 4994)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [55]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_1[i][j][0] 
            FN = FN + list_utility_1[i][j][1]
        elif j > 4:
            FP = FP + list_utility_1[i][j][0]
            TN = TN + list_utility_1[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_1, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:2

In [56]:
run ./utility_2_1_makef.ipynb

done

In [57]:
pd.DataFrame(data=list_utility_2, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(2416, 7584)","(2369, 7631)","(2310, 7690)","(2251, 7749)","(2165, 7835)","(2062, 7938)","(1978, 8022)","(1888, 8112)","(1794, 8206)"
eps_z= 0.2,"(3562, 6438)","(3415, 6585)","(3194, 6806)","(2933, 7067)","(2623, 7377)","(2324, 7676)","(2044, 7956)","(1764, 8236)","(1545, 8455)"
eps_z= 0.6931471805599453,"(7754, 2246)","(7133, 2867)","(6138, 3862)","(4841, 5159)","(3275, 6725)","(1926, 8074)","(1094, 8906)","(562, 9438)","(275, 9725)"
eps_z= 1.3862943611198906,"(9461, 539)","(8998, 1002)","(8137, 1863)","(6351, 3649)","(3386, 6614)","(1136, 8864)","(277, 9723)","(61, 9939)","(23, 9977)"
eps_z= 3.0,"(9987, 13)","(9923, 77)","(9625, 375)","(8383, 1617)","(3451, 6549)","(244, 9756)","(14, 9986)","(1, 9999)","(0, 10000)"
eps_z= 10,"(10000, 0)","(10000, 0)","(9999, 1)","(9955, 45)","(3483, 6517)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(3494, 6506)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [58]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_2[i][j][0]
            FN = FN + list_utility_2[i][j][1]
        elif j > 4:
            FP = FP + list_utility_2[i][j][0]
            TN = TN + list_utility_2[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_2, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:3

In [59]:
run ./utility_3_1_makef.ipynb

done

In [60]:
pd.DataFrame(data=list_utility_3, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1759, 8241)","(1738, 8262)","(1710, 8290)","(1669, 8331)","(1623, 8377)","(1558, 8442)","(1492, 8508)","(1416, 8584)","(1337, 8663)"
eps_z= 0.2,"(2564, 7436)","(2488, 7512)","(2355, 7645)","(2162, 7838)","(1976, 8024)","(1756, 8244)","(1541, 8459)","(1316, 8684)","(1146, 8854)"
eps_z= 0.6931471805599453,"(6304, 3696)","(5663, 4337)","(4749, 5251)","(3576, 6424)","(2464, 7536)","(1443, 8557)","(826, 9174)","(449, 9551)","(233, 9767)"
eps_z= 1.3862943611198906,"(8606, 1394)","(7918, 2082)","(6751, 3249)","(4923, 5077)","(2572, 7428)","(847, 9153)","(237, 9763)","(55, 9945)","(17, 9983)"
eps_z= 3.0,"(9842, 158)","(9560, 440)","(8873, 1127)","(7048, 2952)","(2615, 7385)","(198, 9802)","(10, 9990)","(0, 10000)","(0, 10000)"
eps_z= 10,"(10000, 0)","(10000, 0)","(9987, 13)","(9686, 314)","(2638, 7362)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(2644, 7356)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [61]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_3[i][j][0]
            FN = FN + list_utility_3[i][j][1]
        elif j > 4:
            FP = FP + list_utility_3[i][j][0]
            TN = TN + list_utility_3[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_3, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:4

In [62]:
run ./utility_4_1_makef.ipynb

done

In [63]:
pd.DataFrame(data=list_utility_4, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1392, 8608)","(1370, 8630)","(1346, 8654)","(1308, 8692)","(1265, 8735)","(1214, 8786)","(1169, 8831)","(1120, 8880)","(1055, 8945)"
eps_z= 0.2,"(2122, 7878)","(2039, 7961)","(1920, 8080)","(1751, 8249)","(1567, 8433)","(1381, 8619)","(1227, 8773)","(1045, 8955)","(903, 9097)"
eps_z= 0.6931471805599453,"(5443, 4557)","(4804, 5196)","(3991, 6009)","(3009, 6991)","(1991, 8009)","(1158, 8842)","(613, 9387)","(309, 9691)","(155, 9845)"
eps_z= 1.3862943611198906,"(7830, 2170)","(7051, 2949)","(5881, 4119)","(4157, 5843)","(2073, 7927)","(645, 9355)","(157, 9843)","(49, 9951)","(15, 9985)"
eps_z= 3.0,"(9584, 416)","(9129, 871)","(8192, 1808)","(6160, 3840)","(2106, 7894)","(133, 9867)","(12, 9988)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9999, 1)","(9997, 3)","(9950, 50)","(9336, 664)","(2133, 7867)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9999, 1)","(2139, 7861)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [64]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_4[i][j][0]
            FN = FN + list_utility_4[i][j][1]
        elif j > 4:
            FP = FP + list_utility_4[i][j][0]
            TN = TN + list_utility_4[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_4, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:5

In [65]:
run ./utility_5_1_makef.ipynb

done

In [66]:
pd.DataFrame(data=list_utility_5, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1196, 8804)","(1173, 8827)","(1155, 8845)","(1129, 8871)","(1097, 8903)","(1060, 8940)","(1010, 8990)","(968, 9032)","(913, 9087)"
eps_z= 0.2,"(1772, 8228)","(1679, 8321)","(1588, 8412)","(1485, 8515)","(1338, 8662)","(1192, 8808)","(1067, 8933)","(915, 9085)","(793, 9207)"
eps_z= 0.6931471805599453,"(4688, 5312)","(4115, 5885)","(3431, 6569)","(2510, 7490)","(1692, 8308)","(1023, 8977)","(548, 9452)","(275, 9725)","(137, 9863)"
eps_z= 1.3862943611198906,"(7067, 2933)","(6248, 3752)","(5107, 4893)","(3586, 6414)","(1755, 8245)","(570, 9430)","(142, 9858)","(43, 9957)","(13, 9987)"
eps_z= 3.0,"(9242, 758)","(8606, 1394)","(7469, 2531)","(5387, 4613)","(1792, 8208)","(120, 9880)","(7, 9993)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9997, 3)","(9984, 16)","(9842, 158)","(8870, 1130)","(1819, 8181)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9997, 3)","(1824, 8176)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [67]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_5[i][j][0]
            FN = FN + list_utility_5[i][j][1]
        elif j > 4:
            FP = FP + list_utility_5[i][j][0]
            TN = TN + list_utility_5[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_5, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:6

In [68]:
run ./utility_6_1_makef.ipynb

done

In [69]:
pd.DataFrame(data=list_utility_6, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1024, 8976)","(1006, 8994)","(981, 9019)","(951, 9049)","(931, 9069)","(885, 9115)","(849, 9151)","(812, 9188)","(763, 9237)"
eps_z= 0.2,"(1525, 8475)","(1480, 8520)","(1383, 8617)","(1281, 8719)","(1144, 8856)","(1008, 8992)","(898, 9102)","(780, 9220)","(660, 9340)"
eps_z= 0.6931471805599453,"(4126, 5874)","(3639, 6361)","(2979, 7021)","(2184, 7816)","(1422, 8578)","(832, 9168)","(454, 9546)","(239, 9761)","(124, 9876)"
eps_z= 1.3862943611198906,"(6420, 3580)","(5589, 4411)","(4507, 5493)","(3122, 6878)","(1486, 8514)","(471, 9529)","(127, 9873)","(27, 9973)","(11, 9989)"
eps_z= 3.0,"(8795, 1205)","(8058, 1942)","(6822, 3178)","(4744, 5256)","(1523, 8477)","(104, 9896)","(7, 9993)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9990, 10)","(9939, 61)","(9674, 326)","(8370, 1630)","(1545, 8455)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9990, 10)","(1550, 8450)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [70]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_6[i][j][0]
            FN = FN + list_utility_6[i][j][1]
        elif j > 4:
            FP = FP + list_utility_6[i][j][0]
            TN = TN + list_utility_6[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_6, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:7

In [71]:
run ./utility_7_1_makef.ipynb

done

In [72]:
pd.DataFrame(data=list_utility_7, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(941, 9059)","(931, 9069)","(911, 9089)","(869, 9131)","(842, 9158)","(803, 9197)","(761, 9239)","(724, 9276)","(695, 9305)"
eps_z= 0.2,"(1369, 8631)","(1322, 8678)","(1244, 8756)","(1146, 8854)","(1018, 8982)","(907, 9093)","(808, 9192)","(698, 9302)","(584, 9416)"
eps_z= 0.6931471805599453,"(3599, 6401)","(3182, 6818)","(2607, 7393)","(1940, 8060)","(1295, 8705)","(760, 9240)","(389, 9611)","(212, 9788)","(96, 9904)"
eps_z= 1.3862943611198906,"(5789, 4211)","(5018, 4982)","(3947, 6053)","(2733, 7267)","(1350, 8650)","(403, 9597)","(100, 9900)","(25, 9975)","(10, 9990)"
eps_z= 3.0,"(8271, 1729)","(7427, 2573)","(6191, 3809)","(4207, 5793)","(1386, 8614)","(88, 9912)","(5, 9995)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9979, 21)","(9892, 108)","(9473, 527)","(7769, 2231)","(1411, 8589)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9979, 21)","(1415, 8585)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [73]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_7[i][j][0]
            FN = FN + list_utility_7[i][j][1]
        elif j > 4:
            FP = FP + list_utility_7[i][j][0]
            TN = TN + list_utility_7[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_7, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:8

In [74]:
run ./utility_8_1_makef.ipynb

done

In [75]:
pd.DataFrame(data=list_utility_8, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(730, 9270)","(723, 9277)","(703, 9297)","(690, 9310)","(663, 9337)","(649, 9351)","(625, 9375)","(596, 9404)","(550, 9450)"
eps_z= 0.2,"(1117, 8883)","(1072, 8928)","(1003, 8997)","(917, 9083)","(814, 9186)","(732, 9268)","(640, 9360)","(558, 9442)","(468, 9532)"
eps_z= 0.6931471805599453,"(3196, 6804)","(2765, 7235)","(2230, 7770)","(1646, 8354)","(1053, 8947)","(604, 9396)","(313, 9687)","(147, 9853)","(68, 9932)"
eps_z= 1.3862943611198906,"(5314, 4686)","(4514, 5486)","(3521, 6479)","(2342, 7658)","(1110, 8890)","(327, 9673)","(69, 9931)","(15, 9985)","(4, 9996)"
eps_z= 3.0,"(7919, 2081)","(7005, 2995)","(5703, 4297)","(3767, 6233)","(1131, 8869)","(58, 9942)","(1, 9999)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9942, 58)","(9815, 185)","(9274, 726)","(7333, 2667)","(1143, 8857)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9942, 58)","(1148, 8852)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [76]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_8[i][j][0]
            FN = FN + list_utility_8[i][j][1]
        elif j > 4:
            FP = FP + list_utility_8[i][j][0]
            TN = TN + list_utility_8[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_8, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:9

In [77]:
run ./utility_9_1_makef.ipynb

done

In [78]:
pd.DataFrame(data=list_utility_9, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(746, 9254)","(735, 9265)","(717, 9283)","(695, 9305)","(677, 9323)","(657, 9343)","(625, 9375)","(587, 9413)","(563, 9437)"
eps_z= 0.2,"(1109, 8891)","(1050, 8950)","(981, 9019)","(894, 9106)","(809, 9191)","(735, 9265)","(645, 9355)","(558, 9442)","(489, 9511)"
eps_z= 0.6931471805599453,"(3004, 6996)","(2642, 7358)","(2153, 7847)","(1592, 8408)","(1033, 8967)","(617, 9383)","(340, 9660)","(168, 9832)","(92, 9908)"
eps_z= 1.3862943611198906,"(4969, 5031)","(4244, 5756)","(3312, 6688)","(2252, 7748)","(1075, 8925)","(354, 9646)","(95, 9905)","(22, 9978)","(7, 9993)"
eps_z= 3.0,"(7596, 2404)","(6631, 3369)","(5350, 4650)","(3534, 6466)","(1100, 8900)","(81, 9919)","(2, 9998)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9897, 103)","(9680, 320)","(9011, 989)","(7012, 2988)","(1118, 8882)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(9998, 2)","(9897, 103)","(1122, 8878)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [79]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_9[i][j][0]
            FN = FN + list_utility_9[i][j][1]
        elif j > 4:
            FP = FP + list_utility_9[i][j][0]
            TN = TN + list_utility_9[i][j][1]
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_9, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:10

In [80]:
run ./utility_10_1_makef.ipynb

done

In [95]:
pd.DataFrame(data=list_utility_10, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(657, 9343)","(643, 9357)","(633, 9367)","(606, 9394)","(585, 9415)","(564, 9436)","(529, 9471)","(502, 9498)","(484, 9516)"
eps_z= 0.2,"(1022, 8978)","(983, 9017)","(913, 9087)","(841, 9159)","(750, 9250)","(653, 9347)","(570, 9430)","(498, 9502)","(427, 9573)"
eps_z= 0.6931471805599453,"(2794, 7206)","(2466, 7534)","(1994, 8006)","(1461, 8539)","(936, 9064)","(552, 9448)","(315, 9685)","(170, 9830)","(81, 9919)"
eps_z= 1.3862943611198906,"(4663, 5337)","(3983, 6017)","(3094, 6906)","(2087, 7913)","(980, 9020)","(329, 9671)","(83, 9917)","(27, 9973)","(10, 9990)"
eps_z= 3.0,"(7243, 2757)","(6308, 3692)","(5023, 4977)","(3273, 6727)","(1000, 9000)","(69, 9931)","(7, 9993)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9840, 160)","(9571, 429)","(8758, 1242)","(6675, 3325)","(1014, 8986)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(9997, 3)","(9840, 160)","(1016, 8984)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [85]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TP = TP + list_utility_10[i][j][0]
            FN = FN + list_utility_10[i][j][1]
        elif j > 4:
            FP = FP + list_utility_10[i][j][0]
            TN = TN + list_utility_10[i][j][1]
    T_Positive.append(TP/(Num*8))
    T_Negative.append(TN/(Num*8))
    F_Positive.append(FP/(Num*8))
    F_Negative.append(FN/(Num*8))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_10, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

In [87]:
T_Positive

[0.0317375, 0.0469875, 0.1089375, 0.1728375, 0.2730875, 0.43555, 0.4979625]

In [88]:
F_Negative

[0.4682625, 0.4530125, 0.3910625, 0.3271625, 0.2269125, 0.06445, 0.0020375]

In [90]:
T_Negative

[0.4740125, 0.47315, 0.486025, 0.4943875, 0.49905, 0.5, 0.5]

In [91]:
F_Positive

[0.0259875, 0.02685, 0.013975, 0.0056125, 0.00095, 0.0, 0.0]