## F-scoreで評価する

今回はPositive＝間に合わないと出力という形でひっくり返して考え直していく．
1. True-Positive : 出力「間に合わない」→真に「間に合わない」
2. False-Positive: 出力「間に合わない」→本当は「間に合う」
3. True-Negative : 出力「間にあう」→真に「間に合う」
4. False-Negative: 出力「間に合う」→本当は「間に合わない」

今回のケーススタディでは，間に合わないのに間に合うと出力されることを避けたい（FNを小さくしたい）\
したがって，再現率を重視して出力する．\
この際．βの値は{1.0, 2.0, 5.0, 10.0, 100.0}で計算することとする．

### 前提条件

In [1]:
# モジュールの導入
import numpy as np
from scipy.special import lambertw as LW
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
import statistics
import pandas as pd

In [2]:
# 重みづけの変数β
beta = [1.0, 2.0, 5.0, 10.0, 100.0]

In [3]:
# F値を保存するためのテキストファイルの宣言
path_w_1 = 'f_score_1_.txt'
path_w_2 = 'f_score_2.txt'
path_w_3 = 'f_score_3.txt'
path_w_4 = 'f_score_4.txt'
path_w_5 = 'f_score_5.txt'
path_w_6 = 'f_score_6.txt'
path_w_7 = 'f_score_7.txt'
path_w_8 = 'f_score_8.txt'
path_w_9 = 'f_score_9.txt'
path_w_10 = 'f_score_10_.txt'

### 効用関数1：1

In [5]:
run ./utility_1_1_makef.ipynb

done

In [6]:
pd.DataFrame(data=list_utility_1, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(3625, 6375)","(3571, 6429)","(3495, 6505)","(3391, 6609)","(3278, 6722)","(3128, 6872)","(2990, 7010)","(2836, 7164)","(2684, 7316)"
eps_z= 0.2,"(5219, 4781)","(5071, 4929)","(4785, 5215)","(4398, 5602)","(3986, 6014)","(3527, 6473)","(3089, 6911)","(2657, 7343)","(2299, 7701)"
eps_z= 0.6931471805599453,"(9303, 697)","(8903, 1097)","(8048, 1952)","(6696, 3304)","(4802, 5198)","(2864, 7136)","(1568, 8432)","(842, 9158)","(451, 9549)"
eps_z= 1.3862943611198906,"(9963, 37)","(9871, 129)","(9516, 484)","(8237, 1763)","(4923, 5077)","(1634, 8366)","(459, 9541)","(105, 9895)","(22, 9978)"
eps_z= 3.0,"(10000, 0)","(9999, 1)","(9986, 14)","(9629, 371)","(4993, 5007)","(361, 9639)","(16, 9984)","(2, 9998)","(0, 10000)"
eps_z= 10,"(10000, 0)","(10000, 0)","(10000, 0)","(9999, 1)","(5045, 4955)","(1, 9999)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(5058, 4942)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [7]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_1[i][j][0]
            FP = FP + list_utility_1[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_1[i][j][1] 
            FN = FN + list_utility_1[i][j][0]    
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_1, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:2

In [8]:
run ./utility_2_1_makef.ipynb

done

In [9]:
pd.DataFrame(data=list_utility_2, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(2408, 7592)","(2372, 7628)","(2335, 7665)","(2271, 7729)","(2190, 7810)","(2104, 7896)","(2026, 7974)","(1937, 8063)","(1828, 8172)"
eps_z= 0.2,"(3524, 6476)","(3393, 6607)","(3182, 6818)","(2955, 7045)","(2664, 7336)","(2380, 7620)","(2099, 7901)","(1839, 8161)","(1581, 8419)"
eps_z= 0.6931471805599453,"(7736, 2264)","(7109, 2891)","(6101, 3899)","(4749, 5251)","(3287, 6713)","(2001, 7999)","(1101, 8899)","(597, 9403)","(315, 9685)"
eps_z= 1.3862943611198906,"(9496, 504)","(9046, 954)","(8130, 1870)","(6305, 3695)","(3394, 6606)","(1145, 8855)","(326, 9674)","(94, 9906)","(18, 9982)"
eps_z= 3.0,"(9981, 19)","(9928, 72)","(9638, 362)","(8367, 1633)","(3451, 6549)","(272, 9728)","(7, 9993)","(0, 10000)","(0, 10000)"
eps_z= 10,"(10000, 0)","(10000, 0)","(10000, 0)","(9957, 43)","(3484, 6516)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(3499, 6501)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [10]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_2[i][j][0]
            FP = FP + list_utility_2[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_2[i][j][1] 
            FN = FN + list_utility_2[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_2, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:3

In [11]:
run ./utility_3_1_makef.ipynb

done

In [12]:
pd.DataFrame(data=list_utility_3, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1849, 8151)","(1831, 8169)","(1781, 8219)","(1729, 8271)","(1659, 8341)","(1582, 8418)","(1508, 8492)","(1440, 8560)","(1345, 8655)"
eps_z= 0.2,"(2690, 7310)","(2587, 7413)","(2420, 7580)","(2234, 7766)","(2025, 7975)","(1782, 8218)","(1561, 8439)","(1351, 8649)","(1163, 8837)"
eps_z= 0.6931471805599453,"(6369, 3631)","(5731, 4269)","(4819, 5181)","(3660, 6340)","(2471, 7529)","(1457, 8543)","(798, 9202)","(410, 9590)","(208, 9792)"
eps_z= 1.3862943611198906,"(8646, 1354)","(7967, 2033)","(6806, 3194)","(5018, 4982)","(2574, 7426)","(820, 9180)","(209, 9791)","(55, 9945)","(17, 9983)"
eps_z= 3.0,"(9846, 154)","(9611, 389)","(8916, 1084)","(7105, 2895)","(2620, 7380)","(180, 9820)","(9, 9991)","(0, 10000)","(0, 10000)"
eps_z= 10,"(10000, 0)","(10000, 0)","(9988, 12)","(9715, 285)","(2643, 7357)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(2652, 7348)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [13]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_3[i][j][0]
            FP = FP + list_utility_3[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_3[i][j][1] 
            FN = FN + list_utility_3[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_3, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:4

In [14]:
run ./utility_4_1_makef.ipynb

done

In [15]:
pd.DataFrame(data=list_utility_4, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1480, 8520)","(1472, 8528)","(1449, 8551)","(1415, 8585)","(1375, 8625)","(1323, 8677)","(1264, 8736)","(1201, 8799)","(1123, 8877)"
eps_z= 0.2,"(2206, 7794)","(2111, 7889)","(1970, 8030)","(1805, 8195)","(1638, 8362)","(1458, 8542)","(1270, 8730)","(1101, 8899)","(956, 9044)"
eps_z= 0.6931471805599453,"(5423, 4577)","(4798, 5202)","(3997, 6003)","(3027, 6973)","(2051, 7949)","(1199, 8801)","(676, 9324)","(365, 9635)","(186, 9814)"
eps_z= 1.3862943611198906,"(7828, 2172)","(7015, 2985)","(5851, 4149)","(4143, 5857)","(2144, 7856)","(696, 9304)","(191, 9809)","(65, 9935)","(16, 9984)"
eps_z= 3.0,"(9575, 425)","(9123, 877)","(8185, 1815)","(6139, 3861)","(2182, 7818)","(160, 9840)","(11, 9989)","(0, 10000)","(0, 10000)"
eps_z= 10,"(10000, 0)","(9997, 3)","(9955, 45)","(9328, 672)","(2203, 7797)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(2206, 7794)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [16]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_4[i][j][0]
            FP = FP + list_utility_4[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_4[i][j][1] 
            FN = FN + list_utility_4[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_4, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:5

In [17]:
run ./utility_5_1_makef.ipynb

done

In [18]:
pd.DataFrame(data=list_utility_5, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1206, 8794)","(1179, 8821)","(1154, 8846)","(1112, 8888)","(1059, 8941)","(1024, 8976)","(986, 9014)","(944, 9056)","(896, 9104)"
eps_z= 0.2,"(1776, 8224)","(1700, 8300)","(1598, 8402)","(1463, 8537)","(1310, 8690)","(1169, 8831)","(1040, 8960)","(898, 9102)","(777, 9223)"
eps_z= 0.6931471805599453,"(4590, 5410)","(4096, 5904)","(3347, 6653)","(2500, 7500)","(1641, 8359)","(980, 9020)","(528, 9472)","(259, 9741)","(152, 9848)"
eps_z= 1.3862943611198906,"(7011, 2989)","(6147, 3853)","(4992, 5008)","(3498, 6502)","(1712, 8288)","(545, 9455)","(154, 9846)","(51, 9949)","(14, 9986)"
eps_z= 3.0,"(9244, 756)","(8607, 1393)","(7385, 2615)","(5277, 4723)","(1738, 8262)","(134, 9866)","(7, 9993)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9999, 1)","(9987, 13)","(9857, 143)","(8868, 1132)","(1764, 8236)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9999, 1)","(1776, 8224)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [19]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_5[i][j][0]
            FP = FP + list_utility_5[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_5[i][j][1] 
            FN = FN + list_utility_5[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_5, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:6

In [20]:
run ./utility_6_1_makef.ipynb

done

In [21]:
pd.DataFrame(data=list_utility_6, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(1018, 8982)","(1007, 8993)","(990, 9010)","(961, 9039)","(926, 9074)","(886, 9114)","(848, 9152)","(801, 9199)","(757, 9243)"
eps_z= 0.2,"(1551, 8449)","(1479, 8521)","(1376, 8624)","(1270, 8730)","(1153, 8847)","(1034, 8966)","(878, 9122)","(756, 9244)","(641, 9359)"
eps_z= 0.6931471805599453,"(4032, 5968)","(3556, 6444)","(2921, 7079)","(2202, 7798)","(1447, 8553)","(832, 9168)","(462, 9538)","(240, 9760)","(126, 9874)"
eps_z= 1.3862943611198906,"(6346, 3654)","(5523, 4477)","(4434, 5566)","(3062, 6938)","(1517, 8483)","(480, 9520)","(131, 9869)","(38, 9962)","(9, 9991)"
eps_z= 3.0,"(8774, 1226)","(7987, 2013)","(6748, 3252)","(4695, 5305)","(1547, 8453)","(113, 9887)","(5, 9995)","(1, 9999)","(0, 10000)"
eps_z= 10,"(9989, 11)","(9938, 62)","(9704, 296)","(8321, 1679)","(1568, 8432)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9989, 11)","(1569, 8431)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [22]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_6[i][j][0]
            FP = FP + list_utility_6[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_6[i][j][1] 
            FN = FN + list_utility_6[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_6, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:7

In [23]:
run ./utility_7_1_makef.ipynb

done

In [24]:
pd.DataFrame(data=list_utility_7, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(880, 9120)","(872, 9128)","(861, 9139)","(852, 9148)","(814, 9186)","(772, 9228)","(739, 9261)","(704, 9296)","(664, 9336)"
eps_z= 0.2,"(1349, 8651)","(1295, 8705)","(1208, 8792)","(1123, 8877)","(1009, 8991)","(891, 9109)","(775, 9225)","(673, 9327)","(593, 9407)"
eps_z= 0.6931471805599453,"(3587, 6413)","(3121, 6879)","(2568, 7432)","(1919, 8081)","(1283, 8717)","(732, 9268)","(430, 9570)","(255, 9745)","(136, 9864)"
eps_z= 1.3862943611198906,"(5831, 4169)","(4980, 5020)","(3957, 6043)","(2684, 7316)","(1322, 8678)","(443, 9557)","(143, 9857)","(29, 9971)","(9, 9991)"
eps_z= 3.0,"(8324, 1676)","(7509, 2491)","(6210, 3790)","(4202, 5798)","(1345, 8655)","(107, 9893)","(5, 9995)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9965, 35)","(9879, 121)","(9478, 522)","(7836, 2164)","(1360, 8640)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9965, 35)","(1362, 8638)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [25]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_7[i][j][0]
            FP = FP + list_utility_7[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_7[i][j][1] 
            FN = FN + list_utility_7[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_7, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:8

In [26]:
run ./utility_8_1_makef.ipynb

done

In [27]:
pd.DataFrame(data=list_utility_8, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(808, 9192)","(799, 9201)","(777, 9223)","(756, 9244)","(730, 9270)","(702, 9298)","(670, 9330)","(633, 9367)","(598, 9402)"
eps_z= 0.2,"(1158, 8842)","(1124, 8876)","(1070, 8930)","(984, 9016)","(895, 9105)","(790, 9210)","(697, 9303)","(602, 9398)","(537, 9463)"
eps_z= 0.6931471805599453,"(3300, 6700)","(2865, 7135)","(2336, 7664)","(1708, 8292)","(1155, 8845)","(661, 9339)","(372, 9628)","(194, 9806)","(104, 9896)"
eps_z= 1.3862943611198906,"(5375, 4625)","(4604, 5396)","(3613, 6387)","(2428, 7572)","(1208, 8792)","(382, 9618)","(106, 9894)","(26, 9974)","(5, 9995)"
eps_z= 3.0,"(7978, 2022)","(7069, 2931)","(5765, 4235)","(3844, 6156)","(1233, 8767)","(90, 9910)","(4, 9996)","(0, 10000)","(0, 10000)"
eps_z= 10,"(9950, 50)","(9806, 194)","(9279, 721)","(7411, 2589)","(1243, 8757)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(9950, 50)","(1245, 8755)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [28]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_8[i][j][0]
            FP = FP + list_utility_8[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_8[i][j][1] 
            FN = FN + list_utility_8[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_8, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:9

In [29]:
run ./utility_9_1_makef.ipynb

done

In [30]:
pd.DataFrame(data=list_utility_9, index=index1, columns=columns1)

,"(4, 0, 17)","(8, 0, 17)","(12, 0, 17)","(16, 0, 17)","(20, 0, 17)","(24, 0, 17)","(28, 0, 17)","(32, 0, 17)","(36, 0, 17)"
eps_z= 0.1,"(728, 9272)","(718, 9282)","(695, 9305)","(675, 9325)","(653, 9347)","(621, 9379)","(592, 9408)","(561, 9439)","(538, 9462)"
eps_z= 0.2,"(1071, 8929)","(1019, 8981)","(939, 9061)","(856, 9144)","(775, 9225)","(691, 9309)","(603, 9397)","(539, 9461)","(459, 9541)"
eps_z= 0.6931471805599453,"(2951, 7049)","(2586, 7414)","(2091, 7909)","(1532, 8468)","(993, 9007)","(596, 9404)","(319, 9681)","(173, 9827)","(95, 9905)"
eps_z= 1.3862943611198906,"(4971, 5029)","(4192, 5808)","(3242, 6758)","(2179, 7821)","(1034, 8966)","(331, 9669)","(97, 9903)","(27, 9973)","(3, 9997)"
eps_z= 3.0,"(7592, 2408)","(6661, 3339)","(5356, 4644)","(3482, 6518)","(1063, 8937)","(77, 9923)","(2, 9998)","(1, 9999)","(0, 10000)"
eps_z= 10,"(9896, 104)","(9655, 345)","(8998, 1002)","(7017, 2983)","(1075, 8925)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(9999, 1)","(9897, 103)","(1081, 8919)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [31]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_9[i][j][0]
            FP = FP + list_utility_9[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_9[i][j][1] 
            FN = FN + list_utility_9[i][j][0] 
    T_Positive.append(TP/(Num*4))
    T_Negative.append(TN/(Num*4))
    F_Positive.append(FP/(Num*4))
    F_Negative.append(FN/(Num*4))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_9, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:10

In [ ]:
run ./utility_10_1_makef.ipynb

In [ ]:
pd.DataFrame(data=list_utility_10, index=index1, columns=columns1)

In [ ]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 4:
            TN = TN + list_utility_10[i][j][0]
            FP = FP + list_utility_10[i][j][1]
        elif j >= 4:
            TP = TP + list_utility_10[i][j][1] 
            FN = FN + list_utility_10[i][j][0] 
    T_Positive.append(TP/(Num*8))
    T_Negative.append(TN/(Num*8))
    F_Positive.append(FP/(Num*8))
    F_Negative.append(FN/(Num*8))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_10, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()